@media screen and (max-width:414px) {

  #total {
    display: block;
    width: 100%;
    height: 888px;
    background: url('./img/33333.png');
    background-size: 100% 100%;

    .total_text {
      color: white;
      padding: 0;
      padding-top: 40px;
      margin: auto;
      text-align: center;
      // margin-top: 40px;
      h1 {
        font-size: 30px;
      }

      div {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 12px;
        color: white;
      }
    }

    #tata_top {
      padding-top: 120px;
    }

    .total_con {
      color: white;
      width: 90%;
      display: flex;
      // padding-bottom: 62px;
      padding-top: 119px;
      margin: auto;

      .total_con_log {
        display: none;

        img {
          width: 80px;
          height: 62px;
        }
      }

      .total_con_text {
        padding-left: 0px;
        text-align: justify;

        p:first-child {
          font-family: "pingfang";
          font-weight: bold;
          font-size: 14px;
          margin-bottom: 20px;
          color: white;
          text-align: center;
        }

        p {
          font-size: 12px;
          font-family: "pingfang";
          height: 30px;
          line-height: 20px;
          color: white;
        }
      }
    }

    .total_con_bottom {
      width: 91%;
      height: 220px;
      padding-top: 85px;
      margin: auto;
      position: relative;

      img {
        display: none;
        width: 100%;
        height: 100%;
      }

      .t_con_text {
        display: none;
        width: 144px;
        height: 50px;
        border: 1px solid white;
        border-radius: 10px;

        p {
          font-size: 14px;
          text-align: center;
          color: white;
          line-height: 50px;
        }
      }

      .t_text_1 {
        position: absolute;
        left: 0;
        top: 0;
      }

      .t_text_2 {
        position: absolute;
        right: -100px;
        top: -10px;
      }

      .t_text_3 {
        position: absolute;
        right: -50px;
        bottom: 70px;
      }
    }
  }
}