@media screen and (max-width:750px) {

  .introduce .introduce-main {
    width: 629px;
    height: 90px;
  }

  #introduce-big>.introduce-big {
    width: 250px;
    height: 325px;
  }

  .introduce .title-z .back-img-two {
    margin-top: 68px;
    margin-bottom: 68px;
  }

  .introduce .title-z .back-img-fix {
    margin-bottom: 68px;
  }

  #title-z {
    padding: 0;
    width: 100%;
  }

  #title-z2 {
    padding: 0;
    width: 100%;


  }

  .home-container .introduce .back .back-left .back-left-m {
    width: 400px;
  }

  .introduce .ecological .ecological_text {
    width: 80%;
  }

  .ecological .ecological_text h4 {
    font-size: 36px;
  }
}